<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.datains.fill.mapper.FillFormInfoMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO fill_form_info
            (id, pid, node_type, name, description, creator, updater)
        values (#{id}, #{pid}, #{nodeType}, #{name}, #{description}, #{creator}, #{updater})
    </insert>
    <update id="update">
        UPDATE fill_form_info
        <set>
            <if test="pid != null and pid != ''">
                pid = #{pid},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="updater != null">
                updater = #{updater},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteByIds">
        DELETE
        FROM fill_form_info
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="select" resultType="io.datains.fill.controller.vo.FillFormInfoVo">
        SELECT *
        FROM fill_form_info ffi
        WHERE ffi.node_type = 'folder'
    </select>
    <select id="selectForm" resultType="io.datains.fill.controller.vo.FillFormInfoVo">
        SELECT ffi.*,su.nick_name as createdByName
        FROM fill_form_info ffi
        left join sys_user su on su.user_id = ffi.creator
        WHERE ffi.pid = #{pid} and ffi.node_type = 'form'
        <if test="name != null and name != ''">
            AND ffi.name LIKE CONCAT('%', #{name}, '%')
        </if>
    </select>
    <select id="findChildrenIds" resultType="java.lang.String">
        SELECT id FROM fill_form_info
        WHERE pid IN
        <foreach item="pid" collection="parentIds" open="(" separator="," close=")">
            #{pid}
        </foreach>
    </select>

    <select id="searchByName" resultType="io.datains.fill.controller.vo.FillFormInfoVo">
        SELECT id, pid, name
        FROM fill_form_info
        WHERE name LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <select id="getParentChain" resultType="java.lang.String">
        SELECT _id
        FROM (SELECT @current_id                                                                AS _id,
                     (SELECT @current_id := CONVERT(pid USING utf8mb4) COLLATE utf8mb4_general_ci
                      FROM fill_form_info
                      WHERE id = CONVERT(@current_id USING utf8mb4) COLLATE utf8mb4_general_ci) AS pid
              FROM fill_form_info,
                   (SELECT @current_id := CONVERT(#{id} USING utf8mb4) COLLATE utf8mb4_general_ci) vars
              WHERE @current_id > 0) t
        WHERE _id != CONVERT(#{id} USING utf8mb4) COLLATE utf8mb4_general_ci
    </select>

    <select id="findAllChildrenIds" resultType="java.lang.String">
        SELECT CONVERT(id USING utf8mb4) COLLATE utf8mb4_general_ci AS id
        FROM (SELECT @ids      AS _id,
                     (SELECT @ids := GROUP_CONCAT(CONVERT(id USING utf8mb4) COLLATE utf8mb4_general_ci)
                      FROM fill_form_info
                      WHERE FIND_IN_SET(
                                    CONVERT(pid USING utf8mb4) COLLATE utf8mb4_general_ci,
                                    CONVERT(@ids USING utf8mb4) COLLATE utf8mb4_general_ci
                            )) AS children
              FROM fill_form_info,
                   (SELECT @ids := CONVERT(#{id} USING utf8mb4) COLLATE utf8mb4_general_ci) vars
              WHERE @ids IS NOT NULL) t1
                 JOIN fill_form_info
                      ON _id = CONVERT(fill_form_info.id USING utf8mb4) COLLATE utf8mb4_general_ci
        UNION
        SELECT CONVERT(#{id} USING utf8mb4) COLLATE utf8mb4_general_ci
    </select>

    <select id="getNodesByIds" resultType="io.datains.fill.controller.vo.FillFormInfoVo">
        SELECT * FROM fill_form_info
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
