<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.datains.fill.mapper.FillFormDataMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO fill_form_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            form_id,
            form_data,
            creator,
            <if test="createTime != null">
                create_time,
            </if>
            updater,
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{formId},
            #{formData},
            #{creator},
            <if test="createTime != null">
                #{createTime},
            </if>
            #{updater},
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>
    <insert id="insertOrUpdate">

    </insert>
    <select id="getByFormId" resultType="io.datains.fill.entry.FillFormData">
        SELECT *
        FROM fill_form_data
        WHERE form_id = #{formId}
          and is_delete = 0
    </select>
    <update id="logicalDeleteByFormIds">
        UPDATE fill_form_data
        SET is_delete = 1,
        updater = #{updater}
        WHERE form_id IN
        <foreach collection="formIds" item="formId" open="(" separator="," close=")">
            #{formId}
        </foreach>
        AND is_delete = 0
    </update>
    <update id="update">
        UPDATE fill_form_data
        <set>
            <if test="formId != null">
                form_id = #{formId},
            </if>
            <if test="formData != null">
                form_data = #{formData},
            </if>
            <if test="updater != null">
                updater = #{updater},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>
