/* 改变主题色变量 */
$--color-primary: #2681ff;
$--color-success: #05AA65;
$--color-warning: #FF9227;
$--color-danger: #F64346;
$--color-info: #BABEC5;
$--color-default: #171b22;
$--color-dark: #21333b;
$--color-white: #FFFFFF;

$--base-text-color: rgba( 255,255,255 ,0.75);
$--base-border-color: #363636;

$--main-background: #333;
$--main-content-background:  #242424;

$--item-selected-background: #525355;

$--tabs-highlight-color: #c3b7a4;

$--dropdown-background: #2b2c2f;

$--base-box-shadow: 0 2px 8px rgba(0,0,0,0.04),0 16px 32px rgba(0,0,0,0.32);

$--input-focus-border-color: #54688e;
$--input-blur-border-color: #d9d9d9;
$--input-background: #212121;

$--menu-hover-background: transparent;
$--menu-active-background: transparent;

$--sider-background: #17242b;
$--sider-text-color: #acbac3;

$--table-background: #21333b;
$--table-text-color: #FFFFFF;
$--table-border-color: #495865;
$--table-highlight-background: #324f62;

$--scrollbar-thumb-color: #38393a;

$--btn-default-hover-color: #cfcac2;

